{% extends 'navigationbar.html' %}

{% block body %}


<div class="Container" style="margin-top:60px">
    <h2 class="text-center text-primary font-weight-bold">Add Equipment</h2>
    <form style="margin-left:200px; margin-right:200px" method="post">
        {% csrf_token %}
        <label><b>Equipment Name</b></label>
        <input type="text" name="name" class="form-control" required>
        <label><b>Price(In Rs.)</b></label>
        <input type="number" name="price" class="form-control" value="0.00" required>
        <label><b>Unit</b></label>
        <input type="number" name="unit" class="form-control" value="0" required>
        <label><b>Purchase Date</b></label>
        <input type="date" name="date" class="form-control"  required>
        <label><b>Description</b></label>
        <textarea typeof="text" class="form-control" name="description" required></textarea>

         <br>
        <input type="submit" class="btn btn-primary form-control" value="Submit">
    </form>
</div>
{% ifequal error "No" %}
        <script>
            alert('Record Saved Successfully');
            window.Location=('{% url 'view-equipment' %}')
        </script>
    {% endifequal %}

    {% ifequal error "Yes" %}
        <script>
            alert('Something went wrong, Try Again');
        </script>
    {% endifequal %}
{% endblock %}