{% extends 'navigationbar.html' %}

{% block body %}


<div class="Container" style="margin-top:60px;margin-left:50px; margin-right:50px">
    <h2 class="text-center text-primary font-weight-bold">View Equipment</h2>
    <br>
    <table id="example" class="table table-hover display">
        <thead>
            <tr align="center">
                <th>PlanName</th>
                <th>Amount</th>
                <th>Duration(In Month)</th>
            </tr>
        </thead>

        <tbody>
            {% for i in plan %}
            <tr align="center">
                <td>{{i.name}}</td>
                <td>{{i.amount}}</td>
                <td>{{i.duration}}</td>
                <td><a class="btn btn-danger" href="{% url 'delete_equipment' i.id %}" onclick="return confirm('Are you sure?')">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}